/* Styling for the chat bot */

body {
    margin: 0px;
}

.container {
	display: flex;

    -webkit-box-align: center;
    
    height: 100vh;
    width: 100vw;

	align-items: center;
    justify-content: center;
    position: relative;

    background-color: #1D69B4;

}

.logo {
    position: relative;
    top: -40vh;
    left: 10vw;
    max-width: 100%;
}

.dialogContainer {
    position: relative;
    left: -8vw;
    flex-direction: column;
    font-size: 14px;
    width: 300px;
    height: 450px;
    margin: 0;
    border-radius: 20px;
    padding: 10px;
    background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("img/IBM_Watson_Logo_2017.png");
    background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("img/IBM_Watson_Logo_2017.png");
    background-image: -ms-linear-gradient(bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("img/IBM_Watson_Logo_2017.png");
    background-image: linear-gradient(bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("img/IBM_Watson_Logo_2017.png");
    background-attachment: inherit;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 150px;
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid rgba(86,167,161,1.0);
}

.dialogInput {
    position: relative;
    left: -8vw;
    width: 300px;
    margin-top: 15px;
    border: 1px solid rgba(86,167,161,1.0);
    height: 20px;
    font-weight: bold;
    border-radius: 20px;
    font-size: 13px;
    padding: 10px;
    color: #225282;
}
#hi {
    height: 30px;
    width: 30px;
}

#hi2 {
    height: 30px;
    width: 30px;  
    margin-left: 22vw;
}

.message {
    margin-top: 0.5em;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #fff;
}

.bot {
    padding: 0.5em;
    border-radius: 5px;
    background-color: rgba(90,171,164,1.0);
    position: relative;
    width: 200px;
    left: 5px;
    top: 7px;
    -webkit-align-self: flex-start;
    align-self: flex-start;
	-webkit-animation: fadein 2s; 
       -moz-animation: fadein 2s; 
        -ms-animation: fadein 2s; 
         -o-animation: fadein 2s; 
            animation: fadein 2s;
}
    
.bot:after {
    content: ' ';
    position: absolute;
    width: 10px;
    height: 10px;
    left: 20px;
    top: -5px;
    background: rgba(90,171,164,1.0);
    -webkit-transform: skew(0, 45deg);
    -moz-transform: skew(0, 45deg);
    transform: skew(0, 45deg);
}


.user {
    padding: 0.5em;
    border-radius: 5px;
    background-color: #0000f7;
    position: relative;
    width: 200px;
    left: 70px;
    top: 7px;
    -webkit-align-self: flex-start;
    align-self: flex-start;
	-webkit-animation: fadein 2s; 
       -moz-animation: fadein 2s; 
        -ms-animation: fadein 2s; 
         -o-animation: fadein 2s; 
            animation: fadein 2s;
}
    
.user:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    left: 185px;
    top: -5px;
    background: #0000f7;
    -webkit-transform: skew(0, -45deg);
    -moz-transform: skew(0, -45deg);
    transform: skew(0, -45deg);
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}